*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading__style{
  padding: 10px 0;
  background-color: #f1f1f1;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 2px;
  color: #818181;
  font-weight: 500;
  font-size: 16px;
}

.span__style{
  font-weight: 900;
  color: #000;
  background-color: rgb(123, 104, 104);
}

.sloatmachine{
  width: 400px;
  height: 400px;
  border: 1px solid black;
  text-align: center;
  margin: 20px auto;
  align-items: center;
  /* border-radius: 12px; */
  /* background-color: #818181; */
  box-shadow: 0 0 1px 4px rgba(0,0,0,0.8);
}

.component__style{
  color:#fff;
  background-color:#818181;
  font-size: 15px;
  font-weight: 400;
  /* border-radius: 20px; */
  padding: 6px 0;
  letter-spacing: 2px;
  font-family: 'Times New Roman', Times, serif;
}

hr{
  color:#fff;
  width:3px;
}


