*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Times New Roman', Times, serif;
  text-transform:uppercase;
}
body{
  background-color: aqua;
}
.main{
  width:300px;
  margin: 20% auto;
  height:200px;
  background-color: red;
  text-align: center;
  padding: 20px 0;
  overflow:hidden;
  border-radius: 9px;
}
.heading__style{
  font-size: 30px;
  color: #000;
  font-weight: 500;
  padding:10px 5px;
  margin: 10px 0;
  background-color: #fff;
}
.btns{
  background-color: #fff;
}
.btn{
  margin: 10px;
  padding: 10px;
  border-radius: 9px;
}
.inc_btn{
  background-color: green;
}
.inc_btn:hover,.dec_btn:hover{
  background-color: red;
}
.dec_btn{
  background-color: #818181;
}
